@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Test for .Net web app</h1>
    <p>this is cool: <a href="https://uhs.com">Link to UHS just cuz</a>.</p>
</div>
